<!DOCTYPE HTML>
<html lang="en">
	<head>
		<title>{{title}}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/public/css/site.css">
		<link rel="stylesheet" href="/public/css/main.css" />
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="/public/js/comment.js"></script>
	</head>

	<body>
		<div id="wrapper">
			<header id="header">
				<img src="/public/images/technology.svg" alt="Gadget Icon" id="logo">
				<h1>GadgetClear</h1>
			</header>
			

			<nav id="nav">
				<ul>
					<li>
						<a href="/home">Home</a>
					</li>
					<li>
						<a href="/compare">Compare</a>
					</li>
					<li>
						<a href="/search">Search</a>
					</li>
					
					<li style="float: right;">
						<!-- set session to true in your route to change login or logout button check post(login) as example  -->
						{{#if session}}
						<a href="/logout">Logout</a>
						{{else}}
							<a href="/login">Login</a>
						{{/if}}	
					</li>
				</ul>
			</nav>


			<!-- Main -->
			<div id="main">
				<main class="wrapper">
					{{{body}}}
				</main>
			</div>

			<!-- Footer -->
			<footer id="footer">
				<section>
					<h2>About</h2>
					<p>GadgetClear is about helping you to make the best decision to buy a smartphone by letting you compare different devices, filter devices based on specs, letting you see the reviews and ratings of other users. You will find variety of the devices here to search from and we are just getting started! There's more to come...</p>
					<ul class="actions">
						<li><a href="#" class="button">GadgetClear</a></li>
					</ul>
				</section>

				<section>
					<h2>Creator</h2>
					<div>
						<h5>Jenish Kevadia</h5>
					</div>
					<br>
					<ul class="icons">
						<li><a href="https://github.com/TechnoPrime/GadgetClear" class="icon brands fa-github alt" target="_blank"><span class="label">GitHub</span></a></li>
					</ul>
				</section>

				<p class="copyright">&copy; GadgetClear 2020</p>
			</footer>
		</div>
	</body>
</html>
