<form method="POST" action="/compare">
    <div class="compare-container">
        <div class="compare-item">
            <input type="text" name="deviceOne" id="deviceOne" value="Samsung Galaxy S20 Ultra 5G" placeholder="Device 1" required/>
        </div>
        <div class="compare-item">
            <input type="text" name="deviceTwo" id="deviceTwo" value="Google Pixel 2 XL" placeholder="Device 2" required/>
        </div>
        <div>
          <button type="submit" class="primary default compare-btn">Submit</button>
        </div>
    </div>
</form>