<form action="/creatUser" method="post">
    <div class="login-container">
        <div class="login-item">
            <h3>CreateUser</h3>
        </div>
        
        <div class="login-item">
            <label>Username:</label>
            <input type="text" name="username" required />
            <br />
        </div>

        <div class="login-item">
            <label>Email:</label>
            <input type="email" name="email" required />
            <br />
        </div>

        <div class="login-item">
            <label>Password:</label>
            <input type="password" name="password" required />
        </div>

        <div class="login-item">
            <input class="submit-btn" type="submit" value="Submit" required />
        </div>

        <label id="error-message"></label>

        <p>{{error}}</p>
    </div>
  </form>
  
  
  