<div class="container" action="/compare">
	<h2 class="devicelist-head">Devices</h2>
    <br>

	<div class="devicelist-container">
        {{#if brand}}
            {{#each brand}}
                <a href="/getMobileById?dev_id={{this._id}}" target="_blank" class="devicelist-item">
                    <div class="col-md-4 blogShort">
                        <h3>{{this.device}}</h3>
                        <img src="{{this.image}}" alt="post img" class="pull-left img-responsive thumb margin10 img-thumbnail">
                        
                    </div>
                </a>
            {{/each}}
        {{else}}
            <div>
                No devices found. Please try selecting different options in filter.
            </div>
        {{/if}}
        
        <div class="col-md-12 gap10"></div>
    </div>
</div>