<!-- this page shows users name along witht the devices they have liked-->

<section class="addPadding">
	
	<hr>
  	<h2>Hello {{username}}!</h2>
    <p>Go to <a href="/search">Search</a> to search for a device<br> or <a href="/compare">Compare</a> to compare two devices you like</p>
	<hr>
	
</section>